* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(200, 9%, 13%);
}

.sr-only {
  display: none;
}

.clock {
  font-family: "Orbitron", sans-serif;
  font-size: 5rem;
  color: aqua;
}
